.scFormPage { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormBorder { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 3px; margin: css_form_moldura_margin; border-collapse: collapse }
.scFormPageText { text-decoration: none }
.scFormHeader { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormHeaderFont { text-decoration: none }
.scFormFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormFooterFont { text-decoration: none }
.scFormToolbarNav { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none; padding: 2px 4px 2px 4px }
.scFormToolbarNavOpen { background-color: #e2eafd; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #fff; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none; border-color: #c9d7fb; border-style: solid; border-width: 1px; padding: 2px 4px 2px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scFormToolbar { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 2px }
.scFormToolbarPadding { padding: 2px }
.scFormToolbarInput { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFormTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFormTableTd { padding: 3px }
.scFormLabelLink { text-decoration: none; vertical-align: top; }
.scFormLabelOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none; vertical-align: top; }
.scFormLabelOddMult { background-image: none; text-decoration: none; vertical-align: top; }
.scFormLabelOddFormat { text-decoration: none }
.scFormLabelOddFormatMult { text-decoration: none }
.scFormObjectOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFormObjectOddMult { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFormObjectFocusOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFormObjectFocusOddMult { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFormDataOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormDataOddMult { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormDataFontOdd { text-decoration: none }
.scFormDataFontOddMult { text-decoration: none }
.scFormLinkOdd { text-decoration: none }
.scFormLinkOddMult { text-decoration: none }
.scFormLabelLinkOdd { text-decoration: none }
.scFormLabelLinkOddMult { text-decoration: none }
.scFormInputError { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormInputErrorMult { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormInputDisabled { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormInputDisabledMult { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormDataDragNDrop { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormMessageTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFormMessageTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormMessageTitleFont { text-decoration: none }
.scFormMessageMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormMessageMessageFont { text-decoration: none }
.scFormErrorTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFormErrorTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormErrorTitleFont { text-decoration: none }
.scFormErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormErrorMessageFont { text-decoration: none }
.scFormErrorLine { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormFieldErrorTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; -moz-border-radius: css_fielderror_radius; -webkit-border-radius: css_fielderror_radius; border-radius: css_fielderror_radius }
.scFormFieldErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormBlock { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFormBlockFont { text-decoration: none }
.scFormBlockAlign { text-decoration: none }
.scFormProcess { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; font-weight: bold; text-decoration: none }
.scFormProcessFixed { background-color: #fff; border-color: #dfdfdf; border-style: inset; border-width: 2px 2px 3px 2px; height: 26px; padding-top: 13px; position: absolute; text-align: center; width: 350px }
.scFormHelpPage { background-color: #ECF6D2; background-image: none; background-repeat: repeat-x; opacity: 0.5; filter: alpha(opacity=50); color: #333333; font-family: Arial, sans; font-size: 12px; text-shadow: 12px; text-decoration: none }
.scFormPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFormPopupCorner { height: 15px; width: 19px }
.scFormPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFormPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFormPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFormPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFormPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFormPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFormPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFormPopupBottom img { display: block; margin: 0 auto }
.scFormPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFormPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; font-style: normal; text-decoration: none }
.scButtonMultiUploadSend { float: left }
.scButtonMultiUploadSend:hover { cursor: pointer }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #dfdfdf; border-style: inset; border-width: 2px 2px 3px 2px }
.scFormACTable { border-collapse: collapse; border-color: #000000; border-style: outset; border-width: 1px }
.scFormACTitle { background-color: #148ea4; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #FFFFFF; font-family: Times New Roman, Times, serif; font-size: 20px; text-shadow: 20px; text-decoration: none }
.ac_results { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #000000; border-style: outset; border-width: 1px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999; -moz-border-radius: outset; -webkit-border-radius: outset; border-radius: outset }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ac_over { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-dropdownchecklist-text { text-decoration: none }
.ui-dropdownchecklist-selector { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-dropdownchecklist-dropcontainer { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scBtnPassField { margin: 5px 2px }
.scAjaxDiv { background-color: #fefabb; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; text-decoration: none; border-collapse: collapse; border-color: #D8C754; border-style: solid; border-width: 1px; margin: 0; padding: 20px }
