.scFilterPage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; text-decoration: none }
.scFilterBorder { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 3px }
.scFilterTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFilterTableTd { padding: 3px }
.scFilterToolbar { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 2px; color: #000000; text-decoration: none }
.scFilterToolbarPadding { padding: 2px }
.scFilterToolbar_obj { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFilterHeader { background-color: #ffffff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFilterHeaderFont { color: #000000; font-weight: bold; text-decoration: none }
.scFilterFooter { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid }
.scFilterFooterFont { text-decoration: none }
.scFilterBlock { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFilterBlockBack { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFilterBlockFont { text-decoration: none }
.scFilterBlockAlign { text-decoration: none }
.scFilterLabelOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFilterLabelEven { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFilterFieldOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFilterDataFontOdd { text-decoration: none }
.scFilterFieldFontOdd { text-decoration: none }
.scFilterFieldEven { background-image: none; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFilterFieldFontEven { text-decoration: none }
.scFilterObjectOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFilterObjectEven { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; text-decoration: none }
.scFilterACTable { border-collapse: collapse; border-color: #000000; border-style: outset; border-width: 1px; -moz-box-shadow: css_filter_moldurapagina_box_shadow; -webkit-box-shadow: css_filter_moldurapagina_box_shadow; box-shadow: css_filter_moldurapagina_box_shadow }
.scFilterACTitle { background-color: #148ea4; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; text-shadow: 20px; text-decoration: none }
.ac_results { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; color: #000000; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.ac_over { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.scFilterPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFilterPopupCorner { height: 15px; width: 19px }
.scFilterPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFilterPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFilterPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFilterPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFilterPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFilterPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFilterPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFilterPopupBottom img { display: block; margin: 0 auto }
.scFilterPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFilterPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; text-shadow: 12px; font-style: normal; text-decoration: none }
.scFilterRequiredOdd { color: #ff0000; font-family: Arial, sans-serif; font-size: 16px; text-shadow: 16px; font-weight: bold }
.scFilterRequiredEven { color: #ff0000; font-family: Arial, sans-serif; font-size: 16px; text-shadow: 16px; font-weight: bold }
.scBtnPassField { margin: 5px 2px }
