.scGridToolbarPadding { text-align: left !important}
.scGridHeaderFont { text-align: left !important}
.scGridObjectOdd { text-align: left !important}
.scGridBlock { text-align: left !important}
.scGridFieldEvenFont { text-align: left }
.scGridFieldEvenVert { text-align: left }
.scGridFieldOddFont { text-align: left !important}
.scGridFieldOddVert { text-align: left !important}
.scGridLabelVert { text-align: left !important}
.scGridLabelFont {text-align: left !important;text-transform: uppercase;}
.scGridLabelFont[class*="css"]::before{color: #00c4c7;font-size: 32px;content: '\b7';line-height: 0;vertical-align: middle;}
