.scAppCalendarPage { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-sun { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-mon { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-tue { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-wed { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-thu { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-fri { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-sat { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-agenda-axis { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-agenda-gutter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.fc-axis { background-color: #F00; color: #000 }
.fc-not-today { color: #000 }
.scCalendarEventPast { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scCalendarEventOnDay { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scCalendarEventFuture { background-image: none; opacity: 1; filter: alpha(opacity=100) }
