.scCalendarPage { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scCalendarBorder { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scCalendarToolbar { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scCalendarInput { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scCalendarTabela { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scCalendarWeekday { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scCalendarMonthday { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px }
.scCalendarSelectedday { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-datepicker-trigger { vertical-align: middle; margin: 2px }
.ui-datepicker { display: none }
.ui-datepicker .ui-datepicker-header { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0 }
.ui-datepicker .ui-state-default { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-datepicker .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100) }
