.scMenuHPage { margin: 0px;; background-color: #fff; background-image: none }
.scMenuLine { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuToolbar { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 2px; margin: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; width: 100%; height: 100% }
.scMenuHTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scMenuHTableCss { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeader { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHItem { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 3px 10px 3px 3px; }
.scMenuHItemDisabled { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #C0C0C0; padding: 3px 10px 3px 3px; }
.scMenuHItemOver { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 3px 10px 3px 3px; }
.scMenuHSubItem { padding: 3px 10px 3px 3px; }
.scMenuHSubItemDisabled { color: #C0C0C0; padding: 3px 10px 3px 3px; }
.scMenuHSubItemOver { padding: 3px 10px 3px 3px; }
.scMenuBreadcrumbLine { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuBreadcrumbLine a { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #575757; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
